@import url("https://fonts.googleapis.com/css?family=Sofia+Sans+Semi+Condensed");

:root {
  --font-sofia: "Sofia Sans Semi Condensed", serif;

}

body{
  font-family: var(--font-sofia);
}

html {
  scroll-behavior: smooth;
}


.App {
  text-align: center;
  background-color: #282c34;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


 .project img{
    /* width: 256px;
    height: ; */

    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 10%;    

}




.biography{
  
  /* background-color: #282c34; */
   float: left;
   margin-left: 15%;
   margin-top: 10%;
   margin-right: 50%;
   max-width: 600px;
   height: 600px;
   font-size: calc(10px + 2vmin);
   color: white;
}

.projectList{
  /* align-content: center; */
   /* margin-left: 15%; */
   margin-top: 30%; 
   /* height: 500px; */
   font-size: calc(10px + 2vmin);
    color: white;
    flex-direction: column;
}

.containerr {
  /* width: 50%; */
/* width: 50%; */
margin-top: 3rem;

display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.project {
  width: 555px;
  height: 425px;
  margin: 1.5rem;
  font-size: 16px;

  margin-right: 10%;
  margin-left: 10%;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;
  display: inline-block;

    background-color: #31333a;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.4);

}

.project p{
  color: white;
  text-align: left;
  /* margin-left: 50px;
  margin-top: 0; */
  margin: 0;
  padding-top: 2%;
  padding-left: 2%;
  font-size: 20px;
}



.project:hover{
  /* box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 40); */
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.40), 0 17px 50px 0 rgba(0,0,0,0.40);
  opacity: .7;
  cursor: pointer;
  
}

.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;

}

.popup-inner{
  position: relative;
  /* padding: 32px; */
  width: 100%;
  max-width: 840px;
  background-color: #31333a;
 
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.4);
}

.popup-inner .close-btn{
  position: absolute;
  top: 16px;
  right: 16px;

}

.project-popup
{
  width: 555px;
  height: 425px;
  /* margin: 1.5rem; */
  font-size: 16px;

  /* margin-right: 10%;
  margin-left: 10%; */

  /* position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;
  display: inline-block; */

    background-color: #31333a;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.4);

}


.popup-inner p{
  color: white;
  text-align: left;
  /* margin-left: 50px;
  margin-top: 0; */
  margin: 0;
  padding-top: 2%;
  padding-left: 2%;
  font-size: 20px;
}

.popup-top{

  background-color: #282c34;
  padding-top: 2%;
  padding-bottom: 2%;
  /* width: 840px;
  height: 366px; */

}

.popup-bottom{

 
  padding: 2%;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.4);
 
}





.cv{

  float: left;
  margin-left: 15%;
  margin-top: 10%;
  margin-right: 50%;
  max-width: 600px;
  height: 600px;
  font-size: calc(10px + 2vmin);
  color: white;

}

.name{
  
  display: inline;
  margin-top: 1%;
}

.navbar{
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.4);
  background-color: #31333a;
  border-style: solid;
  border-color: #31333a;
  height: 100px;
  position: sticky; top: 0;
  /* background-color: white; */
  z-index: 5;
  
}

.nav-links{
  display: inline;
  
}

.nav-link{
  display: inline;
  margin-right: 5%;
  margin-top: 1%;
  float: right;
  
}

.nav-link:hover{
  cursor: pointer;
  
}

li{
  list-style: none;
}

a {text-decoration: none;}
a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:lightblue; }
a:hover, a:active { text-decoration: none; color:darkslateblue }


.close-btn{

  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.5;

}

.navbar-mobile{
  visibility: hidden;
}

.hamburger-menu-visible{

  visibility: hidden;

}

.hamburger-menu-hidden{
  visibility: hidden;
}

@media (max-width: 985px) {



  .navbar-mobile{
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.4);
    background-color: #31333a;
    border-style: solid;
    border-color: #31333a;
    height: 100px;
    position: sticky; top: 0;
    /* background-color: white; */
    z-index: 5;
    visibility: visible;
  }

  .hamburger-menu-icon{
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    display: block
  }

  .hamburger-menu-icon:hover{
    cursor: pointer;
  }

  .hamburger-menu-icon-stripe{

     width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;

  }

  .hamburger-menu-visible{

    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.4);
    background-color: #2f3135;
    border-style: solid;
    border-color: #31333a;
    position: fixed;
    /* padding-top: 20%; */
    height: 100px;
    width: 100%;
    /* background-color: white; */
    z-index: 5;
    visibility: visible;

    animation-name: fadeIn;
    animation-duration: 0.5s;

  }


  .nav-link{

    margin-top: 5%;
    margin-left: 5%;
    float: left;

    animation-name: fadeIn;
    animation-duration: 0.5s;
    
  }

  .hamburger-menu-hidden{

    visibility: hidden;

  }

 

  .navbar
  {
    
    display: none;
  }

  .project {
    width: 320px;
    height: 200px;
    margin: 1.5rem;
    font-size: 16px;
  
    margin-right: 10%;
    margin-left: 10%;
  
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    border: none;
    display: inline-block;
  
      background-color: #31333a;
  
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.4);
  
  }


  .popup-inner{
    position: relative;
    /* padding: 32px; */
    width: 100%;
    max-width: 420px;
    background-color: #31333a;
   
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.4);
  }


  .project img{

    display: none;    

}

.project p{
  color: white;
  text-align: center;
  /* margin-left: 50px;
  margin-top: 0; */
  margin: 0;
  padding-top: 20%;
  padding-left: 2%;
  font-size: 20px;
}

  .popup-inner{
    position: relative;
    /* padding: 32px; */
    width: 100%;
    max-width: 420px;
    background-color: #31333a;
   
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.4);
  }



  .popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  .popup-inner img{

    width: 50%;
  }

  
   
      

    @keyframes fadeIn { 
      0% { opacity: 0; }
      10% {opacity: 0,1;}
      20% { opacity: 0.2; }
      40% { opacity: 0.3; }
      60% { opacity: 0.5; }
      80% { opacity: 0.9; }
      100% { opacity: 1; }
    }

    @media (max-width: 400px)
    {

      .project {
        width: 200px;
        height: 200px;
        margin: 1.5rem;
        font-size: 16px;
      
        /* margin-right: 10%;
        margin-left: 10%; */
      
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        border: none;
        display: inline-block;
      
          background-color: #31333a;
      
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
        box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.4);
      
      }



    }


}





/* .merit{

display: block;
  padding-right: 5%;
  margin-top: 1%;
  float: right;
} */



